.top {
    height: 14%;
    font-size: .8em;
    margin-left: .25em;
    padding-top: 2rem;
}
label{
    margin-right: .3em;
}

#mini {
    height: 70%;
}
.guide {
    text-align: center;
    margin-top: 1em;
    font-size: 1.4em;
}

.spacer {
    height: 40rem;

}